<?php
// Template de configuração. Renomeie este arquivo para "config.secret.php"
// e preencha com as suas credenciais de banco de dados.

$db_host = '';
$db_name = '';
$db_user = '';
$db_pass = '';